<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>tempGroup</td><td>HomePageTest.UiFlow()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]<br/></td></tr>
</table>
