<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegisterValidationUI</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>20/02/16 22:21:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.UiFlow()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]">UiFlow</td> 
  <td>main@561247961</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>20/02/16 22:23:27</td>   <td>89148</td> <td title="&lt;&lt;BaseClass.aSuit()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]">&lt;&lt;aSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@561247961</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>20/02/16 22:21:10</td>   <td>-47335</td> <td title="&gt;&gt;BaseClass.beforeSuit()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@561247961</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>20/02/16 22:21:10</td>   <td>-47107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@561247961</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>20/02/16 22:23:21</td>   <td>83206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.testListeners(org.testng.ITestResult)[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@184f6be2]">&lt;&lt;testListeners</td> 
<td>&nbsp;</td>  <td>main@561247961</td>   <td></td> </tr>
</table>
