<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TempSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0edeb">  <td>20/01/30 12:36:27</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuit()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@3108bc]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/01/30 12:36:28</td>   <td>725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String)[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@3108bc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>20/01/30 12:37:03</td>   <td>35268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.sampleTest()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@3108bc]">sampleTest</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/01/30 12:37:08</td>   <td>40681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.testListeners(org.testng.ITestResult)[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@3108bc]">&lt;&lt;testListeners</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/01/30 12:37:09</td>   <td>41285</td> <td title="&lt;&lt;BaseClass.aSuit()[pri:0, instance:com.bookmyfurniture.ui.test.HomePageTest@3108bc]">&lt;&lt;aSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
</table>
