<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegisterValidationService</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>20/02/08 18:59:07</td>   <td>0</td> <td title="&lt;&lt;BaseClass.aSuit()[pri:0, instance:com.bookmyfurniture.services.test.RegisterServiceTest@eec5a4a]">&lt;&lt;aSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1816757085</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>20/02/08 18:59:02</td>   <td>-4702</td> <td title="&gt;&gt;BaseClass.beforeSuit()[pri:0, instance:com.bookmyfurniture.services.test.RegisterServiceTest@eec5a4a]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1816757085</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>20/02/08 18:59:03</td>   <td>-4441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String, java.lang.String)[pri:0, instance:com.bookmyfurniture.services.test.RegisterServiceTest@eec5a4a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1816757085</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>20/02/08 18:59:07</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.testListeners(org.testng.ITestResult)[pri:0, instance:com.bookmyfurniture.services.test.RegisterServiceTest@eec5a4a]">&lt;&lt;testListeners</td> 
<td>&nbsp;</td>  <td>main@1816757085</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>20/02/08 18:59:03</td>   <td>-4144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterServiceTest.verifyAndDeleteUserWithService()[pri:0, instance:com.bookmyfurniture.services.test.RegisterServiceTest@eec5a4a]">verifyAndDeleteUserWithService</td> 
  <td>main@1816757085</td>   <td></td> </tr>
</table>
