<h2>Methods that were not run</h2><table>
<tr><td>com.bookmyfurniture.services.test.RegisterServiceTest.registerUserWithService</td></tr>
<tr><td>com.bookmyfurniture.services.test.RegisterServiceTest.tempTest</td></tr>
<tr><td>com.bookmyfurniture.services.test.RegisterServiceTest.registerAndUpdateUserWithService</td></tr>
</table>